{% extends "layout.html.twig" %}

{% block title %}Scrabble{% endblock %}

{% block content %}
	<h2>Games</h2>

	{% if games %}
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Spieler</th>
					<th>Runde</th>
					<th>Summe</th>
					<th>Gestartet am</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>

			{% for game in games %}
				<tr>
					<td><a href="/scrabble/game/{{ game.game_id|raw }}/">{{ game.user_names }}</a></td>
					<td>{{ game.round|raw }}</td>
					<td>{{ game.points_sum }}</td>
					<td>{{ game.created_at|date	 }}</td>
					{#<td>#}
						{#{% if game.status == 'running' %}#}
							{#Läuft <a href="/scrabble/stop/{{ game.game_id|raw }}/"></a>#}
						{#{% endif %}#}
					{#</td>#}
					<td>{{ game.status|raw }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<form method="POST" action="/scrabble/start/">
		<input name="user_names" type="text" placeholder="Matze, Eva" />
		<input type="submit" class="btn btn-primary" value="Start a new Game"/>
	</form>

	<script src="{{ asset_url("scrabble.js") }}"></script>
	<script type="text/javascript">
		App.Scrabble.init();
	</script>
{% endblock %}

