{% extends "layout.html.twig" %}

{% block title %}Blog{% endblock %}
{% block meta %}
	<style>
		.blog_mood {
			font-weight: bold;
			font-size: 1.2em;
		}

		.blog_mood_0 {
			color: #c00
		}

		.blog_mood_1 {
			color: #c00
		}

		.blog_mood_2 {
			color: #c00
		}

		.blog_mood_3 {
			color: #c00
		}

		.blog_mood_4 {
			color: #c00
		}

		.blog_mood_5 {
			color: #c00
		}

		.blog_mood_6 {
			color: #c00
		}

		.blog_mood_7 {
			color: #c00
		}

		.blog_mood_8 {
			color: #c00
		}

		.blog_mood_9 {
			color: #c00
		}

		.blog_mood_10 {
			color: #0c0
		}
	</style>
{% endblock %}
{% block content %}

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for user_name, user_id in users %}
						<li class="btn-group {% if active_user_id == user_id %}active{% endif %}" >
							<a href="/blog/{{ user_id|raw }}/">
								{{ user_name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	{% if active_user_id == current_user_id %}
		<form style="width: 400px;" role="form" method="post" action="/blog/add/">
			<h2>Add Post</h2>
			<input type="text" name="text" class="form-control" placeholder="Text" required autofocus>

			<select class="form-control" name="mood">
				<option value="0" selected="selected">-</option>
				{% for mood in 1..10 %}
					<option value="{{ mood }}">{{ mood }}/10</option>
				{% endfor %}
			</select>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
	{% endif %}

	{% if posts %}
		<hr />
		<a class="btn btn-primary" href="/blog/mood/">Mood</a>
		<hr/>
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>Time</th>
				<th>Mood</th>
				<th>Text</th>
				<th><span class="glyphicon glyphicon-remove"></span></th>
			</tr>
			</thead>
			<tbody>
			{% for timestamp, post in posts %}
				<tr>
					<td>{{ timestamp|date }} ({{ timestamp|eta }})</td>
					<td>
						{% if post.mood %}
							<span class="blog_mood blog_mood_{{ post.mood|raw }}">{{ post.mood|raw }}</span>
						{% else %}
							-
						{% endif %}
					</td>
					<td>{{ post.text }}</td>
					<td>
						<a href="/blog/delete/{{ timestamp|raw }}/" onclick="return confirm('{% trans "Remove this Post?" %}')" class="glyphicon glyphicon-remove"> </a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<i>No Posts found.</i>
	{% endif %}

{% endblock %}
