{% extends "layout.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <h2>Error</h2>
    <div class="alert alert-danger">
		{{ exception.getMessage() }}
	</div>

	{% if debug %}
		<h3>Exception</h3>

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						{{ exception.getFile() }}:{{ exception.getLine() }}<br />
					</th>
				</tr>
			</thead>
			<tbody>
				{% for trace in exception.getTrace() %}
					<tr>
						<td>
							#{{ loop.index }} {% if "file" in trace %}{{ trace.file }}:{{ trace.line }}{% endif %}
							{% if "class" in trace %}{{ trace.class }}{{ trace.type }}{{ trace.function }}(){% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include 'show_parameter_bag.html.twig' with {'title': 'GET', 'parameters': request.query } only %}
		{% include 'show_parameter_bag.html.twig' with {'title': 'POST', 'parameters': request.request } only %}
		{% include 'show_parameter_bag.html.twig' with {'title': 'Session', 'parameters': request.session } only %}
		{% include 'show_parameter_bag.html.twig' with {'title': 'Headers', 'parameters': request.headers } only %}
		{% include 'show_parameter_bag.html.twig' with {'title': 'Server', 'parameters': request.server } only %}
		{% include 'show_parameter_bag.html.twig' with {'title': 'Cookies', 'parameters': request.cookies } only %}
	{% endif %}
{% endblock %}

