{% extends "layout.html.twig" %}

{% block content %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Value</th>
				<th>Direction</th>
			</tr>
		</thead>

		<tbody>
		{% for pin in pins %}
			<tr>
				<td>{{ pin.getID() }}</td>
				<td>{{ pin.getName() }}</td>
				<td>
					{#Value#}
					<a href="/gpio/set/{{ pin.getID() }}/{{ pin.getDirection() == 'IN' ? "1" : "0" }}/{{ pin.getValue() ? "0" : "1" }}/" class="btn btn-{{ pin.getValue() ? 'success' : 'danger'}}">
						{{ pin.getValue() ? 'OFF' : 'ON' }}
					</a>
				</td>
				<td>
					{#Direction#}
					<a href="/gpio/set/{{ pin.getID() }}/{{ pin.getDirection() == 'IN' ? "0" : "1" }}/{{ pin.getValue() ? "1" : "0"}}/" class="btn btn-{{ pin.getDirection() == 'OUT' ? 'success' : 'info'}}">
						{{ pin.getDirection() }}
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
