{% extends "layout_simple.html.twig" %}

{% block full_content %}
	{% verbatim %}
	<header class="header">
		<a href="/" class="logo">
			HomeControl
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<a href="#" class="navbar-btn sidebar-toggle" id="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<div class="navbar-right">
				<ul ng-if="isLoggedIn()" class="nav navbar-nav">
					<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown notifications-menu">
						<!--						<a href="#" class="dropdown-toggle" data-toggle="dropdown">						<i class="glyphicon glyphicon-warning-sign"></i>							<span class="label label-warning">10</span>					</a>-->
						<ul class="dropdown-menu">
							<li class="header">You have 10 notifications</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<i class="ion ion-ios7-people info"></i> 5 new members joined today
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">View all</a></li>
						</ul>
					</li>

					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#/user/" class="dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i>
							<span>{{ current_user.username }} <i class="caret"></i></span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header bg-light-blue">
								<div class="profile_avatar img-circle"></div>
								<p>
									{{ current_user.username }}
								</p>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#/user" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a href="#/logout" class="btn btn-default btn-flat">Sign out</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="wrapper" class="row-offcanvas row-offcanvas-left">
		<aside class="left-side sidebar-offcanvas">
			<section class="sidebar">
				<div class="user-panel">
					<div ng-if="isLoggedIn()" class="pull-left image">
						<div class="user_avatar img-circle"></div>
					</div>
					<div ng-if="isLoggedIn()" class="pull-left info">
						<p>Hello {{ current_user.username }}!</p>
					</div>
					<form action="#" method="get" class="sidebar-form">
						<div class="input-group">
							<input type="text" name="q" class="form-control" placeholder="Search..."/>
							<span class="input-group-btn">
								<button type="submit" name="seach" id="search-btn" class="btn btn-flat">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</form>
					<ul class="sidebar-menu" ng-controller="MenuController">
						<li ng-repeat="item in menu">
							<a href="/#{{ item.url }}">
								<i class="glyphicon glyphicon-{{ item.icon }}"></i>
								{{ item.name }}
							</a>
						</li>
					</ul>
				</div>
			</section>
		</aside>

		<aside class="right-side">
			<section class="content-header">
				<div ng-repeat="flash in flash_bag" class="alert alert-{{ flash.type }} alert-dismissable">
					<button type="button" class="close" ng-click="removeFlash($index)">&times;</button>
					{{ flash.message }}
				</div>
			</section>
			<section class="content">
				<ng-view></ng-view>
			</section>
		</aside>
	</div>
	{% endverbatim %}

{% endblock %}
