{% extends "layout.html.twig" %}

{% block title %}Radio{% endblock %}

{% block content %}
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Enable</th>
				<th>Disable</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			{% for radio in radios %}
				<tr>
					<td title="ID: {{ radio.id }}">{{ radio.code }}|{{ radio.pin }}</td>
					<td>
                        {{ radio.name }}
                        {% if radio.description %}
                            <small>({{ radio.description }})</small>
                        {% endif %}
                    </td>
					<td><a href="/radio/status/{{ radio.id }}/1/" class="btn btn-success">Enable</a></td>
					<td><a href="/radio/status/{{ radio.id }}/0/" class="btn btn-danger">Disable</a></td>
					<td><a href="/radio/delete/{{ radio.id }}/" onclick="return confirm('Remove this Radio?')" class="glyphicon glyphicon-remove"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<form action="/radio/add/" method="POST" class="navbar-forms navbar-lefts">
		<div class="row">
			<div class="col-lg-5">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Name</button>
					  </span>
					<input type="text" name="name" class="form-control" placeholder="Name"/>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Description</button>
					  </span>
					<input type="text" name="description" class="form-control" placeholder="Description"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2">
				<div class="input-group">
					  <span class="input-group-btn">
							<button class="btn btn-default" type="button">Code</button>
					  </span>
					<input type="text" class="form-control" max="5" min="0" name="code" placeholder="00000"/>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Pin</button>
					  </span>
					<input type="text" class="form-control" max="2" min="0" name="pin" placeholder="1"/>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="input-group">
				  <span class="input-group-btn">
						<button class="btn btn-default" type="submit">Add</button>
				  </span>
				</div>
			</div>
		</div>
	</form>

	<hr/>

	<form action="/radio/job/add/" method="POST" class="navbar-forms navbar-lefts">
		<div class="row">
			<div class="col-lg-3">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Radio-id</button>
					  </span>
					<input type="number" name="radio_id" class="form-control" placeholder="Radio-Id"/>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">ETA</button>
					  </span>
					<input type="number" name="eta" class="form-control" placeholder="3600"/>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button">Status</button>
					  </span>
					<input type="text" name="status" class="form-control" placeholder="0|1"/>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="input-group">
				  <span class="input-group-btn">
						<button class="btn btn-default" type="submit">Add</button>
				  </span>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
