{% extends "layout.html.twig" %}

{% block title %}Sensors{% endblock %}

{% block meta %}
	<script src="{{ asset_url("sensors.js") }}"></script>
	<script>
		$(function () {
			var graph = new Rickshaw.Graph({
				element: document.getElementById("chart"),
				width: $('.content').width(),
				interpolation: 'basis',
				height: 500,
				min: 'auto',
				renderer: 'line',
				series: {{ json | json_encode | raw }}
			});

			new Rickshaw.Graph.Axis.Time({ graph: graph });

			var y_axis = new Rickshaw.Graph.Axis.Y({
				graph: graph,
				orientation: 'left',
				tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
				element: document.getElementById('y_axis')
			});

			graph.render();
			var legend = document.querySelector('#legend');

			new Rickshaw.Graph.HoverDetail({
				graph: graph
			});
		});
	</script>
{% endblock %}

{% block content %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sensor in sensors %}
						<li {% if sensor.id in active_sensor_ids %}class="active"{% endif %}>
							<a class="tip" data-placement="bottom" title="Latest: {{ sensor.last_value }}"
							   href="/sensors/{{ sensor.id|sensor(active_sensor_ids)|raw }}?from={{ current_from }}">
								{{ sensor.name }}
							</a>
							{#{% if sensor.espeak %}#}
							{#<span onclick="window.location.href='/sensors/espeak/{{ sensor.id|raw }}'"#}
							{#class="label label-warning glyphicon glyphicon-bullhorn">&nbsp;</span>#}
							{#{% endif %}#}
						</li>
					{% endfor %}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#modalAddSensor">Add Sensor</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Timespan <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for interval, label in from_intervals %}
								<li {% if interval == current_from %}class="active"{% endif %}>
									<a href="?from={{ interval }}">
										{{ label }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="chart_container">
		<div id="y_axis"></div>
		<br>

		<div id="chart"></div>
		<br>

		<div id="legend"></div>
	</div>

	</table>

	<div class="modal fade" id="modalAddSensor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Sensor</h4>
				</div>
				<div class="modal-body">
					<form action="/sensors/add/" method="POST" class="navbar-forms navbar-lefts">
						<div class="row">
							<div class="col-lg-6">
								<div class="input-group">
									<span class='input-group-addon'>Name</span>
									<input type="text" name="name" class="form-control" placeholder="Name"/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="input-group">
									<span class='input-group-addon'>Description</span>
									<input type="text" name="description" class="form-control" placeholder="Description"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="input-group">
									<span class='input-group-addon'>Type</span>
									<select name="type" class="form-control">
										<option value="" selected="selected"></option>
										{% for type, sensor in available_sensors %}
											<option>{{ type }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class='input-group-addon'>Interval</span>
									<input type="number" min="1" name="interval" class="form-control" value="10"/>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class='input-group-addon'>Pin</span>
									<input type="text" name="pin" class="form-control" placeholder="Pin"/>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
