{% extends "layout.html.twig" %}

{% block title %}Status{% endblock %}

{% block content %}
	<script>
		App.Status = {
			init: function() {
				var textarea = document.getElementById('self_update_textarea');
				
				App.emitter.on('update.process', function(event) {
					textarea.value += event.payload;
				});

				App.emitter.on('update.done', function(event) {
					textarea.value += "Update is done!";
				});
			},
			startUpdate: function() {
				$.post('/status/self_update/');
			}
		};
		$(function(){
			App.Status.init();
		});
	</script>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			{% for name, stat in stats %}
				<tr>
					<th>{{ name }}</th>
					<td>{{ stat }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if jobs %}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Event-ID</th>
					<th>Date</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for job in jobs %}
					<tr>
						<th>
							<span title="{{ print_r(job.event)|escape }}" class="tip">{{ job.event_id|raw }}</span>
							<hr />

						</th>
						<th>{{ job.timestamp|date|raw }} ({{ job.timestamp|eta }})</th>
						<td><a href="/status/event/delete/{{ job.event_id|raw }}/" class="glyphicon glyphicon-remove"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

    <h2>Self update</h2>

    <a id="self_update_button" class="btn btn-primary" onclick="return (confirm('Do you want to start self update? This may take some time...') && Status.startUpdate())" href="#">Start self update in background</a><br />
	<textarea style="width:800px; height: 300px" id="self_update_textarea" readonly="readonly"></textarea>
{% endblock %}

